COMPOSE_PROJECT_NAME=peack
DOCKER_TARGET=dev

ADMINER_PORT=8080
MAIL_PORT=8025
SMTP_PORT=1025
DB_HOST_PORT=3306

DB_NAME=flux_db
DB_USER=flux_root
DB_PASSWORD=root
DB_PREFIX=flx_
DB_HOST=mysql
DB_PORT=3306

WORDPRESS_WEBSITE_TITLE=Flux
WORDPRESS_WEBSITE_URL=https://wordpress.peack.localhost
WORDPRESS_PORT=8000
WORDPRESS_ADMIN_USER=flux
WORDPRESS_ADMIN_PASSWORD=flux
WORDPRESS_ADMIN_EMAIL=info@flux.be
WORDPRESS_LOCALE=en_US
WORDPRESS_PERMALINK_STRUCTURE=/%postname%/

PARENT_THEME=page-builder-framework
CHILD_THEME=flux-child

WP_DEBUG=true
WP_DEBUG_LOG=true
WP_DEBUG_DISPLAY=false
DISABLE_WP_CRON=true

PHP_VERSION=8.4
WORDPRESS_VERSION=latest
DOCKER_IMAGE_VERSION=latest

ACF_PRO_KEY=your-acf-pro-license-key
GITHUB_TOKEN=your-github-token