/*

!.gitignore
!.bruno/
!.env.example
!Makefile
!composer.json
!composer.lock
!docker-compose.yml
!docker/
!package.json
!phpcs.xml
!pnpm-lock.yaml

!wp-content/
wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/flux-*/
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/flux-child/

vendor/
node_modules/
dist/
build/
.DS_Store
